
# Ignore everytihng
*

# Except for whitelist
!/cmd
!/cmd/**
!go.mod
!go.work
!run_setup.sh
!
.gitignore
!.gitmodules
!/op-geth
!/optimism

!README.md


# Additionally ignore debug binaries
__debug_*